<h2>List of all Contacts</h2>
<ol>
  <% @contacts.each do |contact| %>
    <li>
      <a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %></a>
    </li>
  <% end %>
</ol>
