<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>CRM</title>
  </head>

  <body>
    <header>
      CRM WEB PART - 2
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <nav>
        <a href="/">Home</a>
        |
        <a href="/contacts">Contacts</a>
        |
        <a href="/about">About</a>
      </nav>
      <h5>&copy Bitmaker 2017</h5>
    </footer>
  </body>
</html>
