<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <title>CRM</title>
  </head>

  <body>
    <header>
      Bitmaker CRM
    </header>
    <nav>
      <a href="/">Home</a>
      <a href="/contacts">Contacts</a>
      <a href="/about">About</a>
    </nav>
    <main>
      <%= yield %>
    </main>

    <footer>
      <h4>&copy Bitmaker 2017</h4>
    </footer>
  </body>
</html>
